.timelinescroll{
	overflow-x:scroll;
	width:100%;
}

.timelineholder{
	display: inline-block;
}

.timelineunit{
	vertical-align: top; display:inline-block; width:50px; height:300px;
}

.timelinehigher{
	float:left; position:relative; height: 250px; width:50px;
}

.timelinelower{
	float:left; position:relative; height: 50px; width:50px; font-size:10px; text-align:center;
}
